* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #222;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 6em;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.container .item {
    width: 400px;
    transition: 0.5s;
}
