* {
    margin: 0;
    padding: 0;
}

body {
    background: #2e2c39;
    overflow: hidden;
}

.cursor {
    position: absolute;
    pointer-events: none;
}

.cursor span {
    position: absolute;
    width: 12px;
    height: 60px;
    background: #fff;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-top: 60px solid #ff7534;
    border-bottom: 60px solid greenyellow;
}
